{%extends 'shop/basic.html'%}
{% block title %}Tracker{% endblock %}
{%block body%}
<div class="container">
    <h2>Awesome cart tracker- Enter your order Id and email address.</h2>
     <form class="row g-3" method="post" action="#" id="trackerform">{%csrf_token%}
            <input type="hidden" name="ItemsJSON" id="ItemsJSON">
            <div class="col-md-4">
    <label for="order_id" class="form-label">Order ID</label>
    <input type="text" name="order_id" class="form-control" id="order_id"  placeholder="order id">
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="email">
  </div>
  <div class="col-12 my-2">
    <button type="submit" class="btn btn-primary">Place order</button>
  </div>
</form>
    </div>
    <div class="col my-4">
        <h2>Your order status</h2>
        <div class="col my-4">
    <div>
        <ul class="list-group list-group-numbered"  id="items">
</ul>
    </div>
    </div>
</div>
{%endblock%}
{%block js%}
<script>
$('#trackerform').submit(function(event){
$('#items').empty();
var formData={
'order_id': $('input[name=order_id]').val(),
'email': $('input[name=email]').val(),
'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
}
$.ajax({
type: 'POST',
url: '/shop/tracker/',
data: formData,
encode: true
});
.done(function(data){
console.log(data)
});
event.preventDefault();
});
</script>
{%endblock%}